@{
    ViewBag.Title = "Achat";
}

<h2>@ViewBag.Message</h2>
<section class=Achat>
</section>
@using (Html.BeginForm())
{
    <div>
        @Html.Label("Insérez du texte")
        @Html.TextBox("txtTexte")<br />
        <button type="submit" value="Valider" onclick=""  >Frites</button> 
    </div>
}